<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление товара</title>
</head>
<body>
<h3>Добавление товара</h3>
<form th:method="post" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data">
    <label for="title">Наименование товара:</label>
    <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <br>
    <br>
    <label for="title">Описание товара:</label>
    <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
    </div>
    <br>
    <br>
    <label for="price">Цена товара:</label>
    <input type="number" th:field="*{price}" min="1" step="0.01" placeholder="Цена" id="price">
    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
    </div>
    <br>
    <br>
    <label for="warehouse">Склад:</label>
    <input type="text" th:field="*{warehouse}" min="1" step="0.01" placeholder="Склад"
           id="warehouse">
    <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}">
    </div>
    <br>
    <br>
    <label for="category">Категория товара:</label>
    <select name="category" th:field="*{category}" id="category">
        <div th:each="element : ${category}">
            <option th:text="${element.getName()}" th:value="${element.getId()}"/>
        </div>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
    <br>
    <br>
        <label for="seller">Данные о продавце:</label>
        <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
    <br>
    <br>
        <p style="color: red">Вы можете добавить до 5-ти фотографий. Первая фотография не должна
            быть пустой, поскольку будет главной при выводе карточки товара</p>
    <input type="file" name="file_one">
    <input type="file" name="file_two">
    <input type="file" name="file_three">
    <input type="file" name="file_four">
    <input type="file" name="file_five">
    <br>
    <br>
    <input type="submit" value="Добавить">
</form>
</body>
</html>